<section>
  <div class="container">
    <h2>コメントの更新</h2>
    <form action="/posts/<%=@post.id%>/edit" method="post">
      <input type="text" name="updated_comment"placeholder="ここにコメントを入力">
      <button class="btn btn-primary" type="submit" value="更新"></button>
    </form>

  </div>
</section>